* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

body >header {
    background-color: black;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 550;
    margin-left: 10px;
}

header li a {
color: #f5f6fa;
text-decoration: none;
}

.container {
        width: 1366;
        margin: 0 auto;
    }
    
    section .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .articles article img {
        height: 180px;

    }
    .articles article {
        width: 30%;
    }
    section {
        padding: 16px 0;
    }
    section h2 {
        margin-bottom: 12px;
    }
    .articles article h3 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .articles article a {
        background-color: dimgray;
        padding: 8px;
        display: inline-block;
        text-decoration:none;
        font-weight: bold;
        margin-top: 8px;
    }
    
    .articles article a:hover {
        text-decoration: underline;
    }

    

    .articles article p,
    .articles article a s{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace
    }
    .articles article h3 {
        font-size: 24px;
    }
    section h2 {
        font-size: 32px;
    }
    #spot {
        background-color: rgb(0, 255, 50, 0.3);
    }
#spot .articles article a {
    background-color:rgb(155, 180, 100);
}
#eco {
    background-color: rgb(100, 50, 10, 0.5);
}
    #eco .articles article a {
        background-color: rgb(155, 90, 80);
    }